pdf2image
# For PDF and image text extraction
PyPDF2
pytesseract
Pillow
fastapi
uvicorn[standard]
pydantic
python-multipart
google-generativeai
python-dotenv
google-api-python-client
isodate
httpx
passlib
python-jose
email-validator

